<ul class="list-inline text-center">
  <% ["greg", "lise", "max"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
